/*
 *Name: Pierce Whelan
 *UnityID: pwwhelan
 *Date: 11/06/2020
 *Assignment: IA 5
 *Description: Independent Assignment (HTML and Styling)
 */
 
body{
    background-color: #CC0000;
}

.photo-border{
    border: 2px outset #00FF00;
	max-width: 200px;
	max-height: 250px;
}

#table-border{
    border: 1px solid #FFFF00;
}
