/*
 *Name: Pierce Whelan
 *UnityID: pwwhelan
 *Date: 11/05/2020
 *Assignment: Webpages GL
 *Description: Guided lab assignment, about me webpage
 */
 
p {
    font-family: Times;
	font-size: 16px;
	color: #FFFFFF;
}

.table-border {
    border: 1px solid #FFFFFF;
}

#photo-resize {
    max-width: 250px;
	max-height: 300px;
}
